h2{
    text-decoration: underline;
    font-weight: 100px;
    text-align: center;
    margin-top: 5%;
}
body{
    background-color: rgb(183, 181, 181);
}
.table{
    table-layout: auto;
    margin-left: 20%;
    margin-top: 7%;
    width: 50px;
}
td{
    padding-left: 50px;
}
