h1,h3,p{
    padding-left: 50px;
}
ul{
    padding-left: 100px;
}


.box,.box2{
    text-align:center;
    border: 2px solid whitesmoke;
    width: 240px;
    padding: 20px;
    margin-left:4% ;
}